body {
  font-family: 'Comic Sans MS', cursive;
  background-color: #ffedd5;
  color: #4d331d;
}

.container {
  max-width: 1000px;
}

h1 {
  color: #e67e22;
  font-size: 3rem;
  border-bottom: 2px solid #e67e22;
}

img {
  border-radius: 0.5rem;
}

ul li {
  color: #e67e22;
}

a:hover {
  color: #d35400;
}