body {
  font-family: 'Georgia', serif; /* Imported Font */
}

.container {
  max-width: 900px;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

ul {
  margin-left: 2rem;
}

a {
  color: #3498db;
}

a:hover {
  color: #1abc9c;
}